<div class="container">
  <h2>Welcome to Blocipedia</h2>
  <div class="jumbotron">
    <h1>Create and share Mardown Wikis</h1>
    <p>Sign up to get started.</p>
    <div>
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
  
  <div class="row marketing">
    <div class="col-md-6">
      <h2>Free Plan</h2>
      <p>Create as many public wikis as you want.</p>
    </div>
    <div class="col-md-6">
      <h2>Premium Plan  <span class="glyphicon glyphicon-king" aria-hidden="true"></span></h2>
      <p>Create private wikis.</p>
    </div>
  </div>
</div>
