<%= form_tag charges_path do %>
  <h4>Click the button to upgrade your membership to Premium!</h4>
  <p>Benefits of Premium:</p>
  <ul>
    <li>Unlimited public wikis</li>
    <li>Create private wikis</li>
    <li>Collaborate with friends</li>
    <li>Ad free!</li>
  </ul>
  <p>Cost: $15</p>
  <script class='stripe-button' 
    src="https://checkout.stripe.com/checkout.js" 
    data-key="<%= @stripe_btn_data[:key] %>" 
    data-amount="<%= @stripe_btn_data[:amount] %>" 
    data-description="<%= @stripe_btn_data[:description] %>" ></script>
<% end %>